div{

    background-color: black;
}
div{
h1{
    text-align: center;
    color: red;
    background-color: black
}
p{
    text-align: center;
    color: aliceblue;
    background-color: black;
}}
div{
    text-align: center;
}
button{
    background-color: red;
    color: white;
}
h2{
    color: red;
    background-color: rgba(0, 0, 0, 0.74);
}
p{
    color:blanchedalmond;
    background-color: black;
}